*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.forP{
    width: 30%;
    height: 100px;
}
.big_div{
    display: flex;
    justify-content:space-between;
}
.information{
    width: 30%;
    height:120px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    color: black;
}

.icon{
    width: 70px;
    height: auto;
}
.addres{
    width: 70%;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}